<table class='table table-bordered col-md-8'>
        <thead>
          <tr>
            <th>今日の投稿数</th>
            <th>前日の投稿数</th>
            <th>前日比</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= today_book.count %></td>
            <td><%= yesterday_book.count %></td>
            <td>
              <% if yesterday_book.count == 0 %>
                0
              <% else %>
                <% the_day_before = today_book.count / yesterday_book.count.to_f %>
                <%= (the_day_before * 100).round %>%
              <% end %>
            </td>
          </tr>
        </tbody>
        <theaad>
          <tr>
            <th>今週の投稿数</th>
            <th>前週の投稿数</th>
            <th>前週比</th>
          </tr>
        </theaad>
        <tbody>
          <tr>
            <td><%= week_book.count %></td>
            <td><%= weeks_book.count %></td>
            <td>
              <% if weeks_book.count == 0 %>
                0%
              <% else %>
                <% the_week_before = week_book.count / weeks_book.count.to_f %>
                <%= (the_week_before * 100).round %>%
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>